@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}


body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('background3.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
}

.logo {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
}

.logo h2 {
    padding-left: 1rem;
    font-size: 30px;
}
.logo img {
    width: 150px;
    border-radius: 20px;
    height: 150px;
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 15px 1rem;
    background: #cfd8dc;
    width: 280px;
    height: 100vh;
    z-index: 10;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 42px 70px 4px;
    pointer-events: none;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}

nav li {
    padding-left: 1rem;
    /* 7! */
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 40px;
    pointer-events: visible;
}

a {
    color: inherit;
    text-decoration: none;
}

nav li:hover a {
    color: orange;
    text-decoration: underline;
}

.box {
    height: 100vh;
    width: 340px;
    position: absolute;
}

.petitbox{
    background-color: #cfd8dc;
    width: 150px;
    position: absolute;
    top: 450px;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 0px 10px 10px 0px;
    z-index: 9;
}

.petitbox li{
    font-size:x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.petitbox li:hover a {
    color: orange;
    text-decoration: underline;
}

.box:hover + .navbox {
    transform: translateX(0) !important;
    opacity: 1;
}
.navbox_grande{
    width: 554px !important;
}

.navbox:hover {
    transform: translateX(0) !important;
}
.navbox:hover nav {
    opacity: 1;
}
.box:hover ~ .conteneur {
    transform: translateX(312px);
}
.navbox:hover ~ .conteneur {
    transform: translateX(312px);
}
.box:hover ~ .conteneur.contact {
    transform: translate(312px , -100vh);
}
.navbox:hover ~ .conteneur.contact {
    transform: translate(312px , -100vh);
}
.box:hover ~ .conteneur.about {
    transform: translateX( calc(312px - 100vw) );
}
.navbox:hover ~ .conteneur.about {
    transform: translateX( calc(312px - 100vw) );
}

.navbox {
    transform: translateX(-312px);
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    width: 410px;
    z-index: 10;
    position: fixed;
    top: 0;
}
.nav_agrandit {
    width: 570px;
}

.sorti {
    transform: translateX(312px);
}

.arrow {
    right: 0;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.conteneur{
    position: absolute;
    height: 90vh;
    width:90vw;
    /* background-color: none; */
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    padding-bottom: 5vh;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}


#cont.sorti.accueil {
    transform: translateX(390px) !important;
}
#cont2.sorti.contact {
    transform: translate(390px, -100vh) !important;
}
#cont3.sorti.about {
    transform: translateX(calc(390px - 100vw)) !important;
}

.conteneur2 {
    height: 90vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.paragraphe1 {
    padding: 10px;
    height: 40vh;
    display: flex;
    background-color: whitesmoke;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.57) 0px 32px 64px;
    border-radius: 30px;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: flex-start;
}

.titre{
    font-family: "Cinzel Decorative", serif;
    font-size: 60px;
    font-weight: bolder;
    border: 2px solid;
    border-color: black;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.soustitre {
    display: flex;
    flex-direction: column;
}

.p1 {
    font-family:"Cintzel Decorative", serif;
    font-weight: bold;
    font-size: x-large;
}

.conteneur3 {
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paragraphe3 {
    height: 45vh;
    width: 28vw;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.57) 0px 32px 64px;
    border-radius: 30px;
    overflow-y: scroll;
}

.page__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Syne Mono";
	flex-direction: column;
}

.heading {
	color: black;
	letter-spacing: 5px;
	font-size: 2.6em;
	margin-bottom: 30px;
    margin-top: 5vh;
	padding: 0px 15px;
}

.accordion {
	max-width: 500px;
	width: calc(100% - 20px);
}

details {
	background-color: gray;
	margin-bottom: 10px;
	filter: drop-shadow(5px 5px 0px #0A0A0A);
    transition: 0.3s ease-in-out;
}
details:hover {
	filter: drop-shadow(5px 5px 4px #0A0A0A);
}

details > summary {
	color: black;
	padding: 5px 10px;
	font-size: 1.3em;
	cursor: pointer;
}

details > p {
	padding: 5px 10px 10px 20px;
	color: #ddd;
	font-size: 1.1em;
}

.paragraphe4 {
    height: 45vh;
    width: 28vw;
    background-color:whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.57) 0px 32px 64px;
    border-radius: 30px;
}

.paragraphe2 {
    height: 90vh;
    width: 20vw;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.57) 0px 32px 64px;
    border-radius: 30px;
    margin-right: 3vw;
}


.conteneur.contact {
    transform: translateY(-100vh);
}
.conteneur.about {
    transform: translateX(-100vw);
}

#cont3 {
    display: flex;
    flex-direction: column !important;
}

.conteneurhaut {
    height: 45vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paragraphe_about_1 {
    background-color: whitesmoke;
    height: 45vh;
    width: 35vw;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.57) 0px 32px 64px;
    border-radius: 30px;
}

.paragraphe_about_2 {
    background-color: whitesmoke;
    height: 45vh;
    width: 35vw;
    margin-right: 7vw;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.57) 0px 32px 64px;
    border-radius: 30px;
}

.paragraphe_about_3 {
    height: 35vh;
    width: 80vw;
    background-color:whitesmoke;
    margin-right: 7vw;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.57) 0px 32px 64px;
    border-radius: 30px;
}